@media (max-width: 1200px){
    .promo {
        padding: 20px 20px 10px 20px;
        &__wrapper {
            margin-top: 65px;
            align-items: center;
        }
    }
        
}

@media (max-width: 991px){
    .consultation {
        min-height: 600px;
        padding: 60px 0 50px 0;
        &__descr {
            margin-top: 35px;
            padding-left: 30px;
        }
    }
    .advantages {
        padding: 40px 0 60px 0;
        &__wrapper {
            margin-top: 50px;
            justify-content: space-around;
        }
        &__item {
            width: 210px;
        }
    }

    .feed-form {
        padding-left: 30px;
    }
    .title {
        &_left {
            font-size: 30px;
            padding-left: 30px;
        }
    }
}

@media (max-width: 767px){
    .header {
        &__descr {
            display: none;
        }
    }
    .promo {
        min-height: 450px;
        padding: 20px;
        &__wrapper {
            margin-top: 40px;
        }
        &__title {
            font-size: 34px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .catalog {
        padding-bottom: 20px;
        &__content {
            display: none;
            justify-content: center;
            margin: 60px auto;
            &_active {
                display: flex;
            }
        }
        &-item {
            &:nth-child(3n) {
                margin-right: 20px;
            }
        }
    }
    .feedback-item {
        margin: 50px 0;

        &__image {
            margin-left: 20px;
        }
        &__content {
            margin-left: 40px;
            width: 70%;
        }
    }
    .footer {
        &__info {
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
            width: 360px;
            height: 240px;
            background-color: $main-color;
            padding: 30px 40px 20px 40px;
        }
        &__addr {
            margin-bottom: 20px;
        }
        &__phone {
            margin-bottom: 30px;
        }
        
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 100%;
            div {
                img {
                    width: 100%;
                }
            }
        }
    }
        
}
   
@media (max-width: 575px) {
    .header{
        &__logo {
            width: 50%;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        min-height: 400px;
        &__wrapper {
            margin-top: 30px;
        }
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 16px;
            text-align: center;
        }
        &__icons {
            display: none;
        }
    }
    .button {
        width: 130px;
        font-size: 11px;
        &_main {
            margin-top: 45px;
            width: 280px;
            height: 50px;
            font-size: 15px;
        }
    }
    .advantages {
        padding: 20px 0 30px 0;
        &__wrapper {
            margin-top: 20px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            width: 210px;
            margin-top: 10px;
        }
        &__descr {
            margin-top: 25px;
        }
        &__text {
            margin-top: 10px;
        }
    }
    .title {
        font-size: 24px;
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 100%;
            div {
                img {
                    width: 100%;
                }
            }
        }
    }
    .consultation {
        min-height: 400px;
        padding: 30px 0 20px 0;
        &__descr {
            display: none;
        }
    }
    .feed-form {
        margin: 36px auto;
        padding-left: 0;
    }
    .title {
        &_left {
            font-size: 18px;
            text-align: center;
            padding-left: 0;
        }
    }
    .button {
        &_submit{
            width: 100%;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
        }
        &__tab {
            margin: 0 auto;
            width: 162px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        &__content {
            margin-top: 30px;
            justify-content: space-around;
        }
        &-item {
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .feedback-item {
        &__message {
            font-size: 14px;
        }
        &__content {
            padding: 0;
            width: 90%;
            margin: 0 auto;
        }

        &__image {
            display: none;
        }
    }
    .footer {
        &__info {
            width: 100%;
            height: 200px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 14px;
        }
    }
}
 